{% extends "hwtgenapp/base.html" %}
{% load static %}
{% block content %}
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-dark bg-light card-signin my-5 shadow-nohover">
        <div class="card-body">
          <h6 class="card-title text-center">
            <b
              >An email has been sent with instructions to reset your
              password.</b
            >
          </h6>
          <form class="form-signin">
            <div class="form-group">
            <a class="btn btn-lg btn-primary btn-block" href="{% url 'home' %}">Home</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}