{% extends "hwtgenapp/base.html" %}
{% load static %}
{% block content %}
<br /><br />
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-dark bg-light card-signin my-5 shadow-nohover">
        <div class="card-body">
          <h5 class="card-title text-center">
            <b>Thank you for getting in touch!</b>
          </h5>
          <p>
          	 We appreciate you contacting ATGEn. One of our colleagues will get back in touch with you soon!<br /><br />
             Have a great day!<br /><br />
             Return to <a href="{% url 'home' %}">Home Page</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}