{% extends 'hwtgenapp/base.html' %}

{% block title %}Error 403{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br><br>
        <h2 class="form-heading">Error 403: Permission Denied</h2>
        <br>
        <p>Sorry, but you don't have the permission to do this action.</p>
        </br>
        <!--<a class="btn btn-primary" type="button" href="/">Return to Home Page</a>-->
    </div>
</div>
{% endblock %}}