{% extends 'hwtgenapp/base.html' %}

{% block title %}Error 500{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br><br>
        <h2 class="form-heading">Error 500: Server Error</h2>
        <br>
        <p>There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience.</p>
        </br>
        <!--<a class="btn btn-primary" type="button" href="/">Return to Home Page</a>-->
    </div>
</div>
{% endblock %}}
